.homePagediv1{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333491;
background: linear-gradient(0deg, rgba(51, 52, 145, 1) 11%, rgba(90, 77, 191, 0.82) 46%, rgba(31, 33, 148, 1) 90%);
}

.homeImg{
  height: 43vh;
    width: 38vw;
    /* mix-blend-mode: multiply; */
    cursor: pointer;
    
  transition: transform 0.2s ease;

}

.homeImg:hover {
  transform: scale(1.05);
}